@import '../../scss/variables';
@import '../../scss/mixins';

.ratingContainer {
    @include flex;
    color: $noble;

    span {
        @include text(bold, 14px);
        color: $carrotOrange;
        vertical-align: text-top;
    }
}
